@import url('./__title/place__title.css');
@import url('./__img/place__img.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__piece/place__piece.css');
@import url('./__paragraph/place__paragraph.css');

.place{
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 48px 40px;
    padding-bottom: 80px;
    margin: 0 auto;
}

@media screen and (min-width:768px) and (max-width:1023px){
  .place{
    grid-gap: 48px 28px;
  }
}

  @media screen and (min-width:320px) and (max-width:767px){
    .place{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 48px;
      padding-top:0;
    }
  }

  .place:nth-of-type(5n){
    padding-bottom: 0;
  }
